<template name="adminProposals">
  <div class="content">
    <ul class="table-view">
      {{#each proposal1}}
        <li class="table-view-cell {{status}}">
          {{#if or sub1.subject sub2.subject}}
            {{#if sub1._id}}
              {{sub1.subject}} - {{relationtype relation}} {{#if remove}}(-){{/if}} {{sub2.subject}} -> {{author}}
              <a class="btn" data-ignore="push" href="/admin/props/{{uuid1}}?id={{_id}}"><span class="icon icon-edit buttonIcon"></span></a>
            {{else}}
              <span class="new">new:</span> {{relationtype relation}} {{#if remove}}(-){{/if}} {{sub2.subject}} -> {{author}}
              <a class="btn" data-ignore="push" href="/admin/props/{{uuid1}}?id={{_id}}&insert=true"><span class="icon icon-edit buttonIcon"></span></a>
            {{/if}}
          {{else}}
            {{#if original}}
              {{original}} -> {{subject}} -> {{author}}
              <a class="btn" data-ignore="push" href="/admin/props/{{uuid}}?id={{_id}}"><span class="icon icon-edit buttonIcon"></span></a>
            {{else}}
              <span class="new">new:</span> {{lang}} -> {{subject}} -> {{author}}
              <a class="btn" data-ignore="push" href="/admin/props/{{uuid}}?id={{_id}}&insert=true"><span class="icon icon-edit buttonIcon"></span></a>
            {{/if}}
          {{/if}}
        </li>
      {{/each}}
      <li class="table-view-divider">{{lastTimestamp}}</li>
      {{#each proposal2}}
        <li class="table-view-cell {{status}}">
          {{#if sub1}}
            {{sub1.subject}} - {{relationtype relation}} {{#if remove}}(-){{/if}} {{sub2.subject}} -> {{author}}
            <a class="btn" data-ignore="push" href="/admin/props/{{uuid1}}?id={{_id}}"><span class="icon icon-edit buttonIcon"></span></a>
          {{else}}
            {{original}} -> {{subject}} -> {{author}}
            <a class="btn" data-ignore="push" href="/admin/props/{{uuid}}?id={{_id}}"><span class="icon icon-edit buttonIcon"></span></a>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="adminProposal">
  <div class="content">
    <div class="flex">
      {{#each version}}
      <div class="halfcontent">
        <ul class="table-view">

          <li class="table-view-divider">Part Of</li>
          {{#each partof}}
            <li class="table-view-cell {{prop}} {{remove}}">
              {{subject}}
            </li>
          {{/each}}

          <li class="table-view-divider">Formula</li>
          <li class="table-view-cell formulaProposal_{{this}}"></li>
          {{log this}}
          {{formulaSubject}}

          <li class="table-view-divider">Unit</li>
          <li class="table-view-cell unitProposal_{{this}}"></li>
          {{unit}}

          <li class="table-view-divider">Variables</li>
          {{#each variables}}
            <li class="table-view-cell {{prop}} {{remove}}">
              {{subject}}
            </li>
          {{/each}}

          <li class="table-view-divider">En</li>
          {{#with enSubject}}
            <li class="table-view-cell {{prop}}">{{subject}}</li>
          {{/with}}

          <li class="table-view-divider">Ro</li>
          {{#with roSubject}}
            <li class="table-view-cell {{prop}}">{{subject}}</li>
          {{/with}}

          <li class="table-view-divider">Wiki</li>
          {{#with wikiSubject}}
            <li class="table-view-cell {{prop}}">{{subject}}</li>
          {{/with}}
        </ul>
      </div>
      {{/each}}
    </div>

    {{#if proposal}}
      <div class="card">
        <button class="btn btn-primary btn-block saveProposal"><span class="icon icon-check" style="font-size:30px !important;"></span></button>
        <br>
        <button class="btn btn-block declineProposal"><span class="icon icon-close" style="font-size:30px !important;"></span></button>
      </div>
    {{/if}}

    <ul class="table-view">
      <li class="table-view-cell flex">
          {{#each path}}
            <a href="/admin/props/{{uuid}}" data-ignore="push"><strong>{{firstUpper subject}}</strong></a> &nbsp;>&nbsp;
          {{/each}}
          <a href="/admin/props/{{uuid}}" data-ignore="push"><strong>{{description}}</strong></a>
      </li>
      {{#each formulas}}
        <li class="table-view-cell">
          <a class="navigate-right" href="/admin/props/{{uuid}}" data-ignore="push">
            {{firstUpper subject}}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</template>