html, body {
  height: 100%;
  width:  100%;
}

#__blaze-root {
  overflow: auto;
  height: 100%;
  width:  100%;
}

.subjectFormula {
  padding-left: 10px;
  padding-right: 10px;
}

.editedCell {
  display: -webkit-box;
  min-height: 20px;
}

