<template name="admin">
  <div id="languageChooser"></div>
  <button class="ui button" id="insertRecord">+</button>
  {{> subjectView}}
</template>

<template name="subjectView">
  <table>
    <tr>
      <th>mathjax</th>
      <th>uuid</th>
      <!--<th>symbol</th>
      <th>formula</th>-->
      <th>part of</th>
      <th>unit</th>
      <th>vars</th>
      <th>ro</th>
      <th>en</th>
      <th>wiki</th>
    </tr>
    {{#each concept}}
      {{#with agregg}}
        <tr id="tr_{{_id}}">
          <td>
            <div class="editedCell subjectFormula">
              <img class="ui mini image subjectFormula" src="edit.svg">
              {{#if mathjax}}
                `{{mathjax}}`
              {{/if}}
            </div>
          </td>
          <td>
            <input class="subjectUuid" readonly="true" value="{{uuid}}" style="width:80px;">
          </td>
          <td>
            <div class="editedCell sr">
              <img class="ui mini image subjectPartOf showModal sr m" src="edit.svg" data-lang="en" data-letters="3">
              <input class="sr viz s" value="{{output 'part of'}}">
              <input type="hidden" class="sr hid m partof" value="{{valuee 'part of'}}">
            </div>
          </td>
          <td>
            <div class="editedCell sr">
              <img class="ui mini image subjectUnit showModal sr s" src="edit.svg" data-lang="unit" data-letters="1">
              <input class="sr viz s" value="{{output 'unit'}}">
              <input type="hidden" class="sr hid s unit" value="{{valuee 'unit'}}">
              </div>
          </td>
          <td>
            <div class="editedCell sr">
              <img class="ui mini image subjectVars showModal sr m" src="edit.svg" data-lang="en" data-letters="3">
              <input class="sr viz s" value="{{output 'vars'}}">
              <input type="hidden" class="sr hid m vars" value="{{valuee 'vars'}}">
            </div>
          </td>
          {{#each langHead}}
              <td><input class="subjectLang" type="text" id="{{getid .. this}}" uuid="{{../uuid}}" value="{{value .. this}}" style="width:250px;"></td>
          {{/each}}
        </tr>
        {{/with}}
    {{/each}}
  </table>
  <div class="pagination">
    <button class="ui icon button" id='pprevButton'>
      <i class="angle double left icon"></i>
    </button>
    <button class="ui icon button" id='prevButton'>
      <i class="angle left icon"></i>
    </button>
     <button class="ui icon button" id='nextButton'>
      <i class="angle right icon"></i>
    </button>
     <button class="ui icon button" id='nnextButton'>
      <i class="angle double right icon"></i>
    </button>
  </div>
  {{> Template.dynamic template=search data=conceptData}}
  {{> subjectroMathjaxEditorModal}}
</template>
