<template name="formulaDetails">
  <div class="content">
    {{#with formula}}
      <ul class="table-view">
        <li class="table-view-cell flex">
            {{#each path}}
              <a href="/browse/{{uuid}}" data-ignore="push"><strong>{{firstUpper subject}}</strong></a> &nbsp;>&nbsp;
            {{/each}}
            <a href="/browse/{{uuid}}" data-ignore="push"><strong>{{description}}</strong></a>
            {{# if isRole 'editor'}}
              {{#if isUnit}}
                <a href="/edit?partof={{uuid}}&lang=unit" class="btn" style="right:140px !important; font-size: 20px !important;" data-ignore="push">
                  <span class="icon icon-plus"></span>
                </a>
              {{else}}
                <a href="/edit?partof={{uuid}}" class="btn" style="right:140px !important; font-size: 20px !important;" data-ignore="push">
                  <span class="icon icon-plus"></span>
                </a>
              {{/if}}
              <a href="/edit/{{uuid}}" class="btn" style="right:85px !important; font-size: 20px !important;" data-ignore="push">
                <span class="icon icon-edit"></span>
              </a>
            {{/if}}
            <a href="{{wiki}}" class="btn" data-ignore="push" target="_blank" style="font-size: 20px !important;">wiki</a>
        </li>

        {{#each formulas}}
          <li class="table-view-cell">
            <a class="navigate-right" href="/browse/{{uuid}}" data-ignore="push">
              {{#if vars}}
                <span class="icon icon-star-filled"></span>
              {{/if}}
              {{firstUpper subject}}
              <!--&nbsp;&nbsp;
              {{#if mfr}}{{#if mfr.subject}}`{{{mfr.subject}}}`{{/if}}{{/if}}-->
            </a>
          </li>
        {{/each}}

        {{#if mathjax}}
          <li class="table-view-cell formulaSubject">`{{{mathjax}}}`</li>
        {{/if}}

        {{#if variables}}
          {{#each variable}}
            <li class="table-view-cell variableSubjects">
              <a data-ignore="push" href="/browse/{{uuid}}">{{firstUpper subject}}</a>
              <span id="variableSubject_{{_id}}">{{#if msy}}`{{{msy.subject}}}`{{/if}}</span>
              <input type="text" placeholder="..." class="variableInput" data-var="{{#if msy}}{{msy.subject}}{{/if}}">
              <span id="unitSubject_{{_id}}">{{#if unit}}`{{{unit.subject}}}`{{/if}}</span>
            </li>
          {{/each}}
          <li class="table-view-cell variableSubjectsSame">
            <span>`{{{msy}}}`</span>
            <input type="text" readonly="true" class="formulaResult">
            <span>`{{{unit}}}`</span>
          </li>
        {{/if}}

      </ul>
    {{/with}}
  </div>
</template>

<template name="searchFormula">
  <div class="content">
    <input type="text" placeholder="..." class="searchFormula">
    <ul class="table-view">
      {{#each result}}
        <li class="table-view-cell">
          <a class="navigate-right" data-ignore="push" href="/browse/{{uuid}}">
            {{firstUpper subject}}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</template>



<template name="settings">
  <div class="content">
    <div class="content-padded">
      {{> langChooser}}
      {{#if currentUser}}
        {{#if isRole 'admin'}}
          <a href="/admin/users" data-ignore="push" class="btn btn-block">Users</a>
          <a href="/admin/props" data-ignore="push" class="btn btn-block">Proposals</a>
        {{/if}}
        {{#if en}}
          <p>Here is a video about how to submit proposals for modifying the formulas: <a data-ignore="push" target="_blank" href="https://www.youtube.com/watch?v=1uDQFt25oMc">tutorial video</a></p>
        {{else}}
          <p>Cum sa editezi formulele - scurt <a data-ignore="push" target="_blank" href="https://www.youtube.com/watch?v=1uDQFt25oMc">video</a></p>
        {{/if}}
        <button class="btn btn-negative btn-block btn-outlined" id="logout">Log Out</button>
      {{else}}
        {{#if en}}
          <p>Want to contribute?</p>
          <p>If you want to edit or add formulas, log in by clicking below. You will be notified through email after we have added you as an editor and you will receive credit for your contributions.</p>
          <p>Here is a video about how to submit proposals for modifying the formulas: <a data-ignore="push" target="_blank" href="https://www.youtube.com/watch?v=1uDQFt25oMc">tutorial video</a></p>
        {{else}}
          <p>Vrei sa contribui?</p>
          <p>Daca vrei sa modifici sau sa adaugi formule, logheaza-te facand click mai jos. Vei fi anuntat prin email dupa ce te adaugam cu rol de editor si vei fi recunoscut pentru contributiile tale.</p>
          <p>Cum sa editezi formulele - scurt <a data-ignore="push" target="_blank" href="https://www.youtube.com/watch?v=1uDQFt25oMc">video</a></p>
        {{/if}}
        <button class="btn btn-negative btn-block" id="GoogleLogin">Google</button>
      {{/if}}
    </div>
  </div>
</template>

<template name="langChooser">
  <div>
    <select id="langChooser">
      <option value="en">English</option>
      <option value="ro">Romana</option>
    </select>
  </div>
</template>

<template name="info">
  <div class="content">
    <div class="content-padded">
      <p>Ver. {{version}}</p>
      <p>Google Play: <a data-ignore="push" target="_blank" href="https://play.google.com/store/apps/details?id=ro.oroboro.omegaphi">Omega Phi</a></p>
      <p>iOS Apple Store: - </p>
      <p>Mac OS X: <a data-ignore="push" target="_blank" href="/download/osx/OmegaPhiOSX.zip">{{#if en}}direct download link{{else}}link direct de download{{/if}}</a></p>
      <p>Windows: <a data-ignore="push" target="_blank" href="/download/win/Omega Phi-win32-ia32.zip">{{#if en}}direct download link{{else}}link direct de download{{/if}}</a></p>
      <p>Linux 64bit: - </p>
      <p>Web (browser) <a data-ignore="push" target="_blank" href="{{ serverUrl }}">link</a></p>
      <br><br>
      {{#if en}}
        <p>Short <a data-ignore="push" target="_blank" href="https://www.youtube.com/watch?v=OUDcfJwGIgA">tutorial video</a></p>
        <p>How to submit proposals for modifying the formulas: <a data-ignore="push" target="_blank" href="https://www.youtube.com/watch?v=1uDQFt25oMc">tutorial video</a></p>
        <p>Created by <a data-ignore="push" target="_blank" href="http://www.kuip.co.uk/">Kuip</a></p>
        <p>Open source code: <a data-ignore="push" target="_blank" href="https://github.com/loredanacirstea/omega-phi">GitHub</a></p>
      {{else}}
        <p>Scurt <a data-ignore="push" target="_blank" href="https://www.youtube.com/watch?v=OUDcfJwGIgA">video explicativ</a></p>
        <p>Cum sa editezi formulele - scurt <a data-ignore="push" target="_blank" href="https://www.youtube.com/watch?v=1uDQFt25oMc">video</a></p>
        <p>Creat de <a data-ignore="push" target="_blank" href="http://www.kuip.co.uk/">Kuip</a></p>
        <p>Codul sursa: <a data-ignore="push" target="_blank" href="https://github.com/loredanacirstea/omega-phi">GitHub</a></p>
      {{/if}}
      <!--<a data-ignore="push" target="_blank" href="http://www.kuip.co.uk/"><img src="/Kuip-logo.svg" class="logo"></a>-->
    </div>
  </div>
</template>
